@page "/elastic-find"
@inherits ElasticFindBase
@using System.Reflection

<h1>Elastic Find</h1>
<p class="alert-danger">
    @ConnectionError
</p>

<EditForm Model="@SingleSearchItem" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="name" class="form form-text" @bind-Value="SingleSearchItem.SingleInput" />
    <br />
    <button type="submit" class="btn btn-outline-primary">Search</button>
    <br />
</EditForm>
<br />
@if (SearchAll == null)
{
    <h5><em>What shall we search for?</em></h5>
}
else
{
    <h5 class="text-success">Search found @RecordsFound matches!</h5>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>File</th>
                <th>Device</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var search in SearchAll)
            {
                <tr>
                    @if (search != null)
                    {
                        <td>@search.DateUploaded</td>
                        <td>@search.FileName</td>
                        @if (search.BDS_HEAD != null)
                        {
                            <td>@search.BDS_HEAD.DeviceID</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>
                            @if (search.BDS_HEAD != null)
                            {
                                PropertyInfo[] propHead = search.BDS_HEAD.GetType().GetProperties();
                                @foreach (PropertyInfo property in propHead)
                                {
                                    <span>
                                        @property.Name: @property.GetValue(search.BDS_HEAD, null)@(propHead.Last() != property ? ", " : string.Empty)
                                    </span>
                                }
                                <br />
                            }
                            @if (search.BDS_TXT != null)
                            {
                                PropertyInfo[] propTxt = search.BDS_TXT.GetType().GetProperties();
                                @foreach (PropertyInfo property in propTxt)
                                {
                                    @if (property.GetValue(search.BDS_TXT) != null)
                                    {
                                        <span>
                                            @property.Name: @property.GetValue(search.BDS_TXT, null)&comma;
                                        </span>
                                    }
                                }
                            }
                            Sequence: @search.Sequence
                            <br />
                            ID: @search.Id
                            <br />

                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
